@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 green-text">Majestic Views of Ireland, Scotland and Wales</h1>
   
    <!--A basic HTML webpage with an embedded music video from Youtube of one of your favorite songs-->
    <h2 >Celtic, Irish, & Scottish Music </h2>
   
            <iframe class="music_video" 
                src="https://www.youtube.com/embed/Prc_24eaqoU?si=eQOcsGAbMQQXUt0a" 
                title="YouTube video player"
                frameborder="1" 
                allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
     
</div>
    <p id="video_discription">
        Enjoy the deep rich sounds of Celtic flutes and pipes (Uilleann pipes, bagpipes)
        in addition to the beautiful sounds of the violin and guitar as supporting instruments.
        Take a virtual journey of tourism and exploration as you travel to the breathtaking Scottish Highlands 
        as well as many popular and no less beautiful Irish National Parks and scenic destinations. </p>


